name: create rag-api release

on:
  release:
    types: [published]
    
env:
  AWS_REGION: eu-central-1
  REPO: qbit42-rag-api

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    environment: shared-services
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v2
        name: Checkout Repository

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.IAMROLE_GITHUB }}
          role-session-name: GitHub-Action-Role
          aws-region: ${{ env.AWS_REGION }}
          
      - id: build
        name: build
        run: |   
          export ECR_REPO=$(aws sts get-caller-identity --query 'Account' --output text).dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.REPO }}
          export TAG=${{ github.ref_name }}
          export IMG=$ECR_REPO:$TAG   
          echo "building image $IMG " 
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REPO
          docker build -t $IMG .
          docker push $IMG

