name: sandbox-thomas-deployment

on:
  workflow_dispatch: {}

env:
  AWS_REGION: eu-central-1  

jobs:

  sandbox-thomas:
    name: setup platform
    runs-on: ubuntu-latest
    environment: sandbox-thomas
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
        name: Checkout Repository              

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.IAMROLE_GITHUB }}
          role-session-name: GitHub-Action-Role
          aws-region: ${{ env.AWS_REGION }}

      - name: config 
        env: 
          AWS_REGION: ${{ env.AWS_REGION }}
        run: |          
          echo "CDK_DEFAULT_ACCOUNT=$(aws sts get-caller-identity --query 'Account' --output text)" >> $GITHUB_ENV
          echo "CDK_DEFAULT_REGION=${{ env.AWS_REGION }}" >> $GITHUB_ENV

      - name: deploy         
        run: |
          cd cdk 
          npm install -g typescript aws-cdk
          npm install 
          cdk deploy --require-approval never RagApiStack


